

<div class="container mt-3">

    <div class="row">   
         <div *ngIf="isSearching">
            <!-- For displaying Filtered Blogs -->
            <mat-card class="mb-5 col-sm-10 col-md-7 offset-md-2" *ngFor="let blog of filteredBlog$ | async" >
                <mat-card-header>
                    <div class="col-9">
                        <mat-card-title>{{blog.title}}</mat-card-title> 
                    </div>
                    <div class="col-2">
                        <a [routerLink]="['/blogs', blog.id, 'edit']" id="editIcon" *ngIf="loggedIn"> 
                            <mat-icon>edit</mat-icon> 
                        </a>
                    </div>
                </mat-card-header>
                <img mat-card-image src={{blog.photoUrl}} alt="Photo of a Shiba Inu"/>
                <mat-card-content>
                <p>
                    {{blog.body}}
                </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)='openCommentDialog(blog.id)'>
                    <mat-icon>comment</mat-icon> {{blog.commentNo}}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>   

        <div *ngIf="!isSearching">
            <!-- For Displaying Regular Blogs -->
            <mat-card class="mb-5 col-sm-10 col-md-7 offset-md-2" *ngFor="let blog of blogs$ | async" >
                <mat-card-header>
                    <div class="col-9">
                        <mat-card-title>{{blog.title}}</mat-card-title> 
                    </div>
                    <div class="col-2">
                        <a [routerLink]="['/blogs', blog.id, 'edit']" id="editIcon" *ngIf="loggedIn"> 
                            <mat-icon>edit</mat-icon> 
                        </a>
                    </div>
                    
                     
                </mat-card-header>
                <img mat-card-image src={{blog.photoUrl}} alt="Photo of a Shiba Inu"/>
                <mat-card-content>
                  <p>
                      {{blog.body}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)='openCommentDialog(blog.id)'>
                      <mat-icon>comment</mat-icon> {{blog.commentNo}}
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
