
$primary_color: #FE512A

.editIconLink
    color: black
    .editIcon
        font-size: 20px

.editIconLink:hover
    color: $primary_color

.blogSnackBar
    color: red

.commentBtn:hover
    color: $primary_color
.deleteIconLink
    mat-icon
        font-size: 20px
        
.deleteIconLink:hover
    color: $primary_color
    cursor: pointer

.spinner::ng-deep circle 
    stroke: $primary_color

.spacing
    letter-spacing: 2px