.editIconLink
    color: black
.editIconLink:hover
    color: #FE512A
.editIcon
    font-size: 20px
#commentBtn:hover
    color: #FE512A
.blogSnackBar
    color: red
.commentBtn:hover
    color: #FE512A