

<div class="container mt-3">

    <div class="row">   
         <div *ngIf="isSearching">
            <!-- For displaying Filtered Blogs -->
            <mat-card class="mb-5 col-sm-10 col-md-7 offset-md-2" *ngFor="let blog of filteredBlog$ | async" >
                <mat-card-header class="row">
                    <div class="col-2 offset-10" *ngIf="loggedIn">
                        <div class="d-flex flex-row justify-content-end">
                            <a [routerLink]="['/blogs', blog.id, 'edit']" class="editIconLink col-1 mr-2"  matTooltip="Edit blog."> 
                                <mat-icon class="editIcon">edit</mat-icon> 
                            </a>
                            <!-- Show the delete button if loading state is equal to false -->
                            <a (click)='deleteBlog(blog.id)' class="deleteIconLink col-1" *ngIf="!(loading$ | async) ;else spinner"  matTooltip="Delete blog.">
                                <mat-icon>delete</mat-icon> 
                            </a>
                            <!-- Show the spinner if the loading state is equal to true -->
                            <ng-template #spinner>
                                <div class="col-1">
                                    <mat-spinner diameter="22" class="spinner">
                                    </mat-spinner>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <mat-card-title>{{blog.title}}</mat-card-title> 
                    </div>  
                </mat-card-header>
                <img mat-card-image src={{blog.photoUrl}} alt="Photo of a Shiba Inu"/>
                <mat-card-content>
                <div class="text-wrap text-break">
                    {{blog.body}}
                </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)='openCommentDialog(blog.id)' class="commentBtn" matTooltip="View comments.">
                        <mat-icon>comment</mat-icon> 
                    </button>
                    {{blog.commentNo}}
                </mat-card-actions>
            </mat-card>
        </div>   

        <div *ngIf="!isSearching">
            <!-- For Displaying Regular Blogs -->
            <mat-card class="mb-5 col-sm-10 col-md-7 offset-md-2" *ngFor="let blog of blogs$ | async" >
                <mat-card-header class="row">
                    <div class="col-2 offset-10" *ngIf="loggedIn">
                        <div class="d-flex flex-row justify-content-end">
                            <a [routerLink]="['/blogs', blog.id, 'edit']" class="editIconLink col-1 mr-2" matTooltip="Edit blog."> 
                                <mat-icon class="editIcon">edit</mat-icon> 
                            </a>
                            <!-- Show the delete button if loading state is equal to false -->
                            <a (click)='deleteBlog(blog.id)' class="deleteIconLink col-1" *ngIf="!(loading$ | async) ;else spinner" matTooltip="Delete blog.">
                                <mat-icon>delete</mat-icon> 
                            </a>
                            <!-- Show the spinner if the loading state is equal to true -->
                            <ng-template #spinner>
                                <div class="col-1">
                                    <mat-spinner diameter="22" class="spinner">
                                    </mat-spinner>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <mat-card-title>{{blog.title}}</mat-card-title> 
                    </div>     
                </mat-card-header>
                <img mat-card-image src={{blog.photoUrl}} alt="Photo of a Shiba Inu"/>
                <mat-card-content>
                  <div class="text-wrap">
                      {{blog.body}}
                  </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)='openCommentDialog(blog.id)' class="commentBtn" matTooltip="View comments.">
                      <mat-icon>comment</mat-icon>
                    </button>
                    {{blog.commentNo}}
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
