#sidenav-content
    padding: 0px !important
    margin: 0px!important
    height: 86vh
#searchWrapper
    position: absolute,
    width: 90%
    top: 5px
    left: 22%
#navWrapper
    position: sticky
    z-index: 9999
    width: 100%
    top: 0
    background-color: white
    

