 
    <div class='shadow'>
      <div class='container-lg  align-items-center'>
        <div class="d-flex flex-row p-4 justify-content-between  align-items-center p-1" id="navWrapper">



            <div class="">
                <a class=''><img src='assets/images/soko.png'></a>
            </div>
            
            <div class="bd-highlight  d-flex ">

              <div class='d-flex'>

                  <div class='d-none'>
                    <input mat-input placeholder='Search for Blog d-none'/>
                  </div>

                  <div>
                    <a mat-button>
                      <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                    </a>
                  </div>
                  <div class='d-sm-block d-md-none d-lg-none '>
                    <a mat-button class='' (click)="sidenav.toggle()">
                        <mat-icon >
                            menu
                        </mat-icon>
                    </a>
                  </div>

              </div>


              <div class='d-none d-md-block d-lg-block '>
                <a mat-button>  
                  Blogs
                </a>
                <a mat-button [routerLink]="'/add_blog'">  
                  Add Blogs
                </a>
                <a mat-button [routerLink]="'/login'">
                  Login
                </a>
              </div>

            </div>

        </div>
      </div>
    </div>
  
  
    <mat-sidenav-container>  
      
      <mat-sidenav #sidenav  mode='over' class='bg-light' opened='false' autoFocus='true'>
        <div class="d-flex flex-row justify-content-end">
            <a mat-button (click)="sidenav.toggle()"><mat-icon>keyboard_backspace</mat-icon></a>
        </div>
        <div class='d-flex flex-wrap'>
            
                <a mat-button class='border-bottom p-2 col-12'>
                    <span >  Blogs</span>   
                </a>
                <a mat-button class='border-bottom p-2 col-12' [routerLink]="'/add_blog'">  
                  <span>Add Blogs</span>   
                </a>

                <a mat-button class='border-bottom p-2 col-12' [routerLink]="'/login'">
                    <span>Login</span>
                </a>  
        </div>
 
      </mat-sidenav>
  
      <mat-sidenav-content id="content"> 
        <router-outlet></router-outlet>
      </mat-sidenav-content> 
    </mat-sidenav-container>



