#navWrapper
    position: sticky
    z-index: 9999
    top: 0
    background-color: white
    box-shadow: 1px 0.4px 4px rgba(0, 0, 0, .5)
    #searchWrapper
        position: absolute
        top: 0
        width: 80%
        overflow: hidden
    #closeSearchBtn
        background-color: #FE512A

@media screen and ( max-width: 300px )
    #searchIconWrapper
        position: relative
        left: 40%

    #menuIconWrapper
        position: relative
        left: 40%
    
@media screen and ( max-width: 600px )
    #searchWrapper
        position: relative
        left: 10%
    
@media screen and ( min-width: 600px ) and (max-width: 763px)
    #searchWrapper
        position: absolute
        left: 13%
@media screen and (min-width: 763px)
    #searchWrapper
        position: absolute
        left: 16%
