#blogUploadWrapper
        height: 84vh
        margin-top: 30px
#blogForm
        position: relative
        top: 60px
.spinner::ng-deep circle 
        stroke: #FE512A
.submitWord
        color: #FE512A
