<div id="blogUploadWrapper">
    <form class="row m-3" id="blogForm">
        
        <div class="col-sm-10 col-md-6 offset-md-3">
        
            <div class="form-group">
                <input type="file" name="image" (change)="fileProgress($event)" accept="image/png, image/jpeg" />
            </div>
            <!-- <div *ngIf="fileUploadProgress">
                Upload progress: {{ fileUploadProgress }}
            </div> -->
            <div class="image-preview mb-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="300" />                 
            </div>
 
            <!-- <div class="mb-3" *ngIf="uploadedFilePath">
                {{uploadedFilePath}}
            </div> -->
             
        </div>

        <div class="col-sm-12 col-md-6 offset-md-3">
            <mat-form-field class="example-full-width" class="row col-12">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" class="col-5">
            </mat-form-field>
        </div>

        <div class ="col-sm-12 col-md-6 offset-md-3">
            <mat-form-field class="example-full-width" class="row col-12">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Brief description of the blog..." matTextareaAutosize=trues></textarea>
            </mat-form-field>
        </div>
        <div class ="col-sm-12 col-md-6 offset-md-3">
            <mat-form-field class="example-full-width" class="row col-12">
                <mat-label>Body</mat-label>
                <textarea matInput placeholder="The blog body..." matTextareaAutosize=trues></textarea>
            </mat-form-field>
        </div>

        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="form-group">
                <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
            </div>
        </div>

    </form>
</div>