<div id="blogUploadWrapper">

        <div class="container">
             <form [formGroup]="blogForm" class="row m-3" id="blogForm" (ngSubmit)="onSubmit(blogForm.value)" *ngIf="blog;else loadingSpinner">
                
                <div class="col-sm-10 col-md-7 offset-md-2" >
                    <mat-form-field class="example-full-width" class="row col-12">
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" required>
                    </mat-form-field>
                </div>

                <div class="col-sm-10 col-md-7 offset-md-2 mb-3">
                  <div class="row col-12">
                    <div class="image-preview mb-3 col-12 image-preview-wrapper" *ngIf="true">
                        <img [src]="previewUrl" height="90%" width="90%" alt="Image Previewer"/>                 
                    </div>
                    <div class="custom-file">
                        <input class="custom-file-input" type="file" (change)="fileProgress($event)" accept="image/png, image/jpeg" required/>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>

                <div class="col-sm-10 col-md-7 offset-md-2">
                    <mat-form-field class="row col-12">
                        <mat-label>Body</mat-label>
                        <textarea matInput placeholder="The blog body..." matTextareaAutosize=trues formControlName="body" required></textarea>
                    </mat-form-field>
                </div>

                
                <div class="col-sm-10 col-md-7 mb-5 offset-md-2">
                    <div class="row col-12">
                        <button class="btn bg-dark btn-lg btn-block" [disabled]="loading$ | async ">
                            <div class="row justify-content-center" *ngIf='loading$ | async;else submit'>
                                <div class="mr-1">
                                    <mat-spinner diameter="30" class="spinner">
                                    </mat-spinner>
                                </div>
                                <div class="submitWord">Submitting...</div> 
                            </div>
                            <ng-template #submit>
                                <div class="submitWord">Submit</div>
                            </ng-template>
                        </button>
                    </div>           
                 </div> 
             </form>
        </div>
        <!-- The spinner that gets displayed if the blog is not yet fetched -->
        <ng-template #loadingSpinner class="row m-3" >
            <mat-spinner id="spinner"></mat-spinner>
        </ng-template>

</div>

