
#name
    font-weight: bold
#commentContent
    height: 230px
    clear: both

// .matFormInput
//     position: relative
//     right: 20px
// #saveBtn
//     background-color: #FE512A
//     color: white

// #commentBody
//     position: relative
//     top: 5px
#closeBtn
    float: right
    position: relative
    bottom: 20px
    left: 8px
    width: 24px
    height: 24px
    background-color: #FE512A

#closeIcon
    color: white
    font-size: 20px
    position: relative
    bottom: 0.45em
    left: 0.04em
.spinner::ng-deep circle 
    stroke: #FE512A
.saveWord
    color: #FE512A