
#name
    font-weight: bold
#commentContent
    height: 230px
    clear: both
#closeBtn
    float: right
    position: relative
    bottom: 20px
    left: 20px
    width: 24px
    height: 24px
    background-color: #FE512A
    #closeIcon
        color: white
        font-size: 20px
        position: relative
        bottom: 0.45em
        left: 0.04em


.spinner::ng-deep circle 
    stroke: #FE512A
.saveWord
    color: #FE512A