
<!--Header-->

<button mat-icon-button mat-dialog-close id="closeBtn">
  <mat-icon id="closeIcon" inline=true>
    close
  </mat-icon>
</button>

<!-- The comment content dialog -->
<div #commentContent mat-dialog-content id="commentContent" (scroll) ="scrolled()" >
    <!-- The comment body section -->
    <div #commentsDiv class="row border rounded-sm shadow my-2 commentsDiv" *ngFor="let comment of comments; last as isLast">
        <div class="col-12 text-wrap text-break p-2" id="commentBody">
          <span id="name">{{comment.name}}</span>
          {{comment.body}}
        </div>
    </div>
</div>

<div mat-dialog-actions class="border-top" id="actionContent">

    <form class="row" [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" >
          <!-- Name input -->
          <mat-form-field class="col-12 matFormInput" >
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" required>
          </mat-form-field>
          <!-- Comment Input -->
          <mat-form-field class="col-12 matFormInput">
            <mat-label>Comment</mat-label>
            <input matInput formControlName="comment" type="text" required maxlength="200">
          </mat-form-field>
          <!-- Save Button -->
          <button class="btn bg-dark btn-lg btn-block col-12" mat-button cdkFocusInitial id="saveBtn" tabindex="-1" [disabled]="loading$ | async">
                <div class="row justify-content-center" *ngIf='loading$ | async ;else submit'>
                    <div class="mr-1">
                        <mat-spinner diameter="30" class="spinner">
                        </mat-spinner>
                    </div>
                    <div class="saveWord">Saving...</div> 
                </div>
                <ng-template #submit>
                  <div class="saveWord">Save</div>
                </ng-template>
          </button>
    </form>

</div>
