
<!-- The comment content dialog -->
<div mat-dialog-content id="commentContent" >
    <!-- The comment body section -->
    <!-- Display old comments -->
    <div class="row border-top" *ngFor="let comment of comments; last as isLast">
        <p class="col-12" id="commentBody" *ngIf="isLast" cdk-focus-initial>
          <span id="name">{{comment.name}}</span>
          {{comment.body}}
        </p>
       
        <p class="col-12" id="commentBody" *ngIf="!isLast">
          <span id="name">{{comment.name}}</span>
          {{comment.body}}
        </p>
    </div>
</div>

<div mat-dialog-actions class="border-top" id="action">

    <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm)" >
          <!-- Name input -->
          <mat-form-field class="col-12 matFormInput" >
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" required>
          </mat-form-field>
          <!-- Comment Input -->
          <mat-form-field class="col-12 matFormInput">
            <mat-label>Comment</mat-label>
            <input matInput formControlName="comment" type="text" required maxlength="200">
          </mat-form-field>
          <!-- Save Button -->
          <button class="btn bg-dark btn-lg btn-block" mat-button cdkFocusInitial id="saveBtn" tabindex="-1">
                <div class="row justify-content-center" *ngIf='loading$ | async ;else submit'>
                    <div class="mr-1">
                        <mat-spinner diameter="30" class="spinner">
                        </mat-spinner>
                    </div>
                    <div class="saveWord">Saving...</div> 
                </div>
                <ng-template #submit>
                  <div class="saveWord">Save</div>
                </ng-template>
          </button>
    </form>

</div>
