/* You can add global styles to this file, and also import other style files */

/*Add the bootstrap to the project*/

@import "../node_modules/bootstrap/scss/bootstrap.scss"

*
    padding: 0px
    margin: 0px

.image-preview-wrapper
    position: relative
    left: 4%

$logoColor:#FE512A